<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>



    <div id="corpo">

        <div id="topo">
            <nav>
                <a href="http://localhost/projetofinal/index.php">Home</a>
                <a href="http://localhost/projetofinal/index.php/?pagina=sobre">Sobre</a> 
            </nav>
        </div>
    </div>

    <div id="conteudo">
        {{area_dinamica}}
    </div>
</body>
</html>